.photo-card{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo-card p, h3{
    color:white;
}

.photo {
    border-radius: 8%;
}

.photo-description{
  
    width: 80%;
}